<div class="row">
  <div class="col-xs-12">
    <h3 class="text-primary">Acuerdo de Uso de Marca</h3>
    <p>
      Al elegirnos como su proveedor de servicios de desarrollo de software, WaveLabs se hace con el derecho de exhibir su marca o logo comercial en nuestro sitio web, así como también (si fuera necesario) una descripción de la solución que su plataforma le provee, a modo de portfolio de clientes con los que trabajamos.
    </p>
    <p>
      Agradecemos su comprensión, ya que esto tiene como objetivo mostrar a nuestro visitantes y potenciales clientes, nuestra trayectoria y los proyectos realizados que la avalan.
    </p>
  </div>
</div>
