<div class="row">
  <div class="col-xs-12">
    <h3 class="text-primary">Funcionalidades</h3>
    <% if budget_items.any? %>
      <table class="table table-striped">
        <thead class="bg-primary">
          <tr>
            <th><strong>Funcionalidad</strong></th>
            <th><strong>Descripción</strong></th>
          </tr>
        </thead>

        <tbody>
          <% budget_items.each do |item| %>
            <tr>
              <td><%= item.title %></td>
              <td><%= item.description? ? item.description : '-' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% else %>
      <p>No hay funcionalidades</p>
    <% end %>
  </div>
</div>
