<div class="row">
  <div class="col-xs-12">
    <h3 class="text-primary">Datos de Contacto</h3>
    <p>
      Las conversaciones, consultas, entregas, etc., las tendrá con el líder de este equipo (el que tendrá a cargo su proyecto), que será <%= dev_name %> (<%= dev_email %>).
    </p>
  </div>
</div>
