<div class="row">
  <div class="col-xs-12">
    <h3 class="text-primary">Plazos y Forma de Entrega</h3>
    <p>
      El tiempo estimado para el desarrollo del proyecto es de <strong><%= estimated_time %></strong>.
    </p>
    <p>
      El cliente recibirá avances semanales sobre su proyecto. Durante esas reuniones semanales también se informará sobre los próximos avances y cualquier corrección necesaria, y se realizarán las consultas que surjan durante el desarrollo.
    </p>
    <p>
      Si el cliente encuentra nuevas funcionalidades que quiera agregar, se pueden agregar al final de la cola de tareas a hacer, o reemplazar por otras que el cliente no quiera (siempre y cuando WaveLabs considere que tienen el mismo costo en cuanto a dinero y tiempos de entrega).
    </p>
  </div>
</div>
