<div class="row">
  <div class="col-xs-12">
    <h3 class="text-primary">Palabras Finales</h3>
    <p>
      Este presupuesto no es cerrado. Es decir, se puede modificar tanto como el cliente lo necesite. Nuestra metodología de trabajo nos permite que nuestros productos de software sean escalables y crezcan tanto como el cliente lo requiera, por lo que en el futuro existe la posibilidad de seguir agregando beneficios a la aplicación web.
    </p>
    <p>
      Cualquier duda que tenga sobre esta propuesta de trabajo, tanto sobre los servicios a contratar, las funcionalidades, quitar o extender el alcance de las mismas, la metodología de entregas, etc., no dude en contactarse con nosotros. Es muy importante despejar la mayor cantidad de dudas (ambas partes) antes de comenzar con el proceso de desarrollo.
    </p>
    <p>
      Esperamos su respuesta.
    </p>
    <p>
      Atte: El equipo de WaveLabs
    </p>
    <p>
      Gracias.
    </p>
  </div>
</div>
