<div class="row">
  <div class="col-xs-12">
    <div class="header">
      <h1>
        Presupuesto
        <br>
        <small>Dirigido a: <%= client_name %></small>
      </h1>
    </div>
  </div>
</div>
