<div class="row">
  <div class="col-xs-12">
    <h3 class="text-primary">Aclaración Sobre Falta de Información</h3>
    <p>
      Lo antes presupuestado (precio y tiempo de entrega aproximados) está sujeto a modificación ya que este documento fue redactado con la poca información que el equipo de WaveLabs posee hasta el momento, al no haber tenido la oportunidad de reunirse con los interesados en el proyecto, a fin de aclarar las dudas que surgieran del análisis de la propuesta.
    </p>
  </div>
</div>
