<div class="row">
  <div class="col-xs-12">
    <h3 class="text-primary">Otros Servicios</h3>
    <p>Cualquiera de los servicios citados a continuación puede ser opcional, de acuerdo a si el cliente nos provee el servicio que ya posee, o si no es necesario dada la naturaleza del proyecto.</p>
    <table class="table table-striped">
      <thead class="bg-primary">
        <tr>
          <th><strong>Servicio</strong></th>
          <th><strong>Precio Apróx*</strong></th>
          <th><strong>Descripción</strong></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Servidor Web para la aplicación</td>
          <td><strong>Gratuito (de acuerdo al consumo)</strong></td>
          <td>Heroku Web Server. Se necesita crear una cuenta con tarjeta de crédito del cliente.
          Heroku es gratuito hasta un límite de horas mensuales. Luego, se cobra por consumo.
          </td>
        </tr>
        <tr>
          <td>Alojamiento de imágenes</td>
          <td><strong>Gratuito por 1 (un) año</strong></td>
          <td>AWS (Amazon Web Services). Se necesita crear una cuenta con su tarjeta de crédito.
          </td>
        </tr>
        <tr>
          <td>Dominio</td>
          <td>AR$270 .com.ar<br>US$10 .com</td>
          <td>URL del sitio web.</td>
        </tr>
        <tr>
          <td>Certificado SSL</td>
          <td>AR$645</td>
          <td>Certificado que valida que el sitio es seguro al utilizar el protocolo de comunicación HTTPS.</td>
        </tr>
      </tbody>
    </table>
    <p class="text-center"><small>
      *WaveLabs no percibe ninguno de estos ingresos, todos los montos son pagos a terceros. WaveLabs sólo se limita a ayudar al cliente con la configuración y puesta en marcha de estos servicios, sin cobro alguno. Por más info, contactar al equipo de WaveLabs.
    </small></p>
  </div>
</div>
