<div class="row">
  <div class="col-xs-12">
    <h3 class="text-primary">Retribución</h3>
    <p><strong>Precio estimado: $<%= total_amount %></strong></p>
    <p>Adelanto de 30%: $<%= total_amount * 0.3 %></p>
    <p>Saldo a cancelar: $<%= total_amount * 0.7 %></p>
    <p>Aclaraciones:<br>
    El cliente puede elegir cancelar el saldo cuando se entregue el sitio o en 2 cuotas: la primera a mediados del desarrollo y la segunda al finalizar el mismo.<br>
    Este presupuesto tiene una validez de 30 días.<br>
    El desarrollo del sistema comienza a partir del pago del adelanto del 30%.<br>
    El precio es sólo para lo detallado en <span class="text-primary">Funcionalidades</span>. Una vez recibida la confirmación, por parte del cliente, se inicia el desarrollo de la propuesta. Cualquier funcionalidad extra no listada debe agregarse a este presupuesto o realizar uno nuevo.<br>
    Este precio estimado no incluye los gastos de servicios extras que puedan requerirse listados en <span class="text-primary">Otros Servicios</span>.
    </p>
  </div>
</div>
