<div class="header">
  <p id="notice"><%= notice %></p>
  <h3>Modificar Presupuesto</h3>
  <small>Todos los campos son requeridos</small>
</div>

<div class="content overflow-hidden mb20">
  <%= render 'form', budget: @budget %>
</div>
