<%= render 'admin/shared/simple_header',
            notice: notice,
            title: 'Modificar Desarrollador',
            text_danger: 'Todos los campos son requeridos' %>

<div class="content overflow-hidden mb20">
  <%= render 'form', developer: @developer %>
</div>
