.navbar.navbar-default {
  min-height: 65px;
}

.cl-navblock {
  .side-user {
    .info i {
      margin-right: 10px;
    }
  }
}

.background-primary {
  background-color: #19b698 !important;
}

.color-white {
  color: #fcfcfc !important;
}
